.hero {
  height: 90vh;
  background: linear-gradient(180deg, #ff69b4, #e1ffea22 60%);
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 10px;
  padding-left: 100px;
  line-height: 1.1;
  font-family: 'Lobster, cursive';
}

.hero-left h2 {
  color: #971c43;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-left p {
  color: #e1356b;
  font-size: 48px;
  font-weight: 700;
  margin: 5px 0;
}

.hand-hand-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hand-hand-icon img {
  width: 80px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 60px;
  border-radius: 50px;
  margin-top: 20px;
  background-color: #ff4081;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-latest-btn:hover {
  background-color: #e1356b;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  width: 100%; /* Adjust width as needed */
  max-width: 400px; /* Limit maximum width */
  height: auto;
  /* max-height: 400px; */
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 5px;
    padding: 20px; /* Reduce padding */
    flex-direction: column; /* Stack content vertically */
    height: auto; /* Allow content to dictate height */
    text-align: center; /* Center-align text */
  }

  .hero-left {
    padding-left: 50px; /* Adjust padding */
    gap: 8px;
  }

  .hero-left h2 {
    font-size: 28px; /* Adjust heading size */
  }

  .hero-left p {
    padding-left: 0; /* Remove left padding */
    gap: 5px;
    font-size: 40px; /* Adjust text size */
  }

  .hand-hand-icon img {
    width: 60px; /* Slightly smaller icon */
  }

  .hero-latest-btn {
    width: 220px; /* Adjust button size */
    height: 55px;
    font-size: 17px;
  }

  .hero-right img {
    max-width: 350px; /* Slightly smaller image */
  }
}

@media (max-width: 480px) {
  .hero {
    margin-top: 0px;
  }

  .hero-left {
  }

  .hero-left h2 {
    font-size: 24px; /* Adjust heading size */
  }

  .hero-left p {
    font-size: 32px; /* Adjust text size */
  }

  .hand-hand-icon img {
    width: 50px; /* Reduce icon size */
  }

  .hero-latest-btn {
    width: 200px; /* Adjust button size */
    height: 50px;
    font-size: 16px;
  }

  .hero-right img {
    max-width: 300px; /* Adjust image size */
  }
}
