.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 200px; /* Fixed width */
  height: 400px; /* Fixed height */
  object-fit: cover;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 0, 0.5); /* Light yellow blend */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(255, 215, 0, 0.8);
}

.prev-btn:disabled,
.next-btn:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
